
{% include head.html %}


  {% include header.html %}


  <main id="content">


    <header class="color-bg">
      <div class="container">
        <h1 class="page-title">{{ page.title }}</h1>
      </div>
    </header>


    <div class="container">
      <div class="row">

        <section class="content-area col-2">

          <main id="main" class="site-main portfolio-content" role="main">

            {{ content }}

          </main><!-- #main -->


        </section><!-- #primary -->

        <aside class="col-1 sidebar">

          {% if page.gallery %}<h3>Site Screenshots</h3>{% endif %}

          <div class="gallery">
            {% for picture in page.gallery %}
            
            <a href="{{ picture.img }}" class="img-container" data-fslightbox="gallery">
              <div class="image" style="background-image:url({{ picture.img }});"></div>
            </a>

            {% endfor %}
          </div>

        </aside>

      </div><!-- .row -->

      <div class="row">
        <p><a href="/portfolio/" class="button margin-top">Back to List of Projects</a></p>
      </div>
      
    </div><!-- .container -->


  </main>

  <script type='text/javascript' src='{{ site.baseurl }}/assets/js/fslightbox.js'></script>


  {% include footer.html %}
