
<footer id="site-footer" role="contentinfo">
	<div class="container">
		<div class="row">

		<div class="col-3">

			<a href="/resume" target="_blank">
				<span class="icon icon-text"></span> Resume
			</a>
			
			<a href="https://gitlab.com/jesse-fox" target="_blank">
				<span class="icon icon-gitlab"></span> GitLab
			</a>

			<a href="https://github.com/jesse-fox" target="_blank">
				<span class="icon icon-github"></span> GitHub
			</a>
			
		</div>


		<div class="col-1 footer-right">
			&copy; {{ "now" | date: "%Y" }} {{ site.author}}
		</div>
		
		</div><!-- .row -->
	</div><!-- .container -->
</footer><!-- #site-footer -->


<script type='text/javascript' src='{{ site.baseurl }}/assets/js/nav.js'></script>


</body>
</html>
