<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

	<meta name="Keywords" content="{{ page.keywords }}"/>
	<meta name="referrer" content="unsafe-url">
	<link rel="icon" href="{{ site.url }}/assets/img/favicon.png" />

	
	<link href="{{ site.baseurl }}/assets/css/styles.css" rel="stylesheet" type="text/css" />

	{% seo %}

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-99658606-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-99658606-1');
	</script>

</head>

<body>
