

<a class="skip-link screen-reader-text" href="#content">Skip to content</a>

<header id="site-header">

	<div class="header-inner">

		<div class="header-top">

		<div class="site-title"><a href="{{ site.url }}/" rel="home">{{ site.author }}</a></div>
		<span class="site-description">Web Developer</span>

			<div class="mobile-controls">
				<button id="menu-toggle" class="menu-button" aria-controls="primary-menu" aria-expanded="false">
					<span class="bar-icon"></span>
					<span class="bar-icon"></span>
					<span class="bar-icon"></span>
				</button>
			</div>

		</div><!-- .header-top -->

		<nav id="site-navigation">
			<ul class="main-nav">

				{% for item in site.data.menus.header %}
				<li class="{% if page.url == item.url %}current{% endif %}">
					<a href="{{ item.url }}">{{ item.title }}</a>
				</li>
				{% endfor %}

			</ul>
		</nav>

	</div>

</header><!-- #site-header -->

