---
permalink: /
title: "Full Stack JavaScript and PHP Developer"
layout: bare
---


<div class="color-bg" id="animation-container">

	<div id="hex-container"></div>

	<div class="content">
		<h1>I build &amp; fix websites.</h1>
		<p>
			If you need a new site or help making one better,
			<br />
			I have the experience to make it successful.
		</p>
		<p><a class="button" href="/portfolio/">Past Projects</a></p>
	</div>

</div>


<div class="alt-bg">
	<div class="container text-center">
		<h2>See my quality work</h2>
		<hr>

		<div class="row">

			<div class="col-1">
				<img src="{{ site.url }}/assets/img/laptop-regency.png" alt="Screenshot of a rockin' website I made" >
			</div>
		
			<div class="col-1 mobile-space-top">
				<h3 style="margin-top: 0;">Project: Regency</h3>
				<p>Made specifically to engage prospective students and drive sign ups over a custom widget. </p>
				<p>Regency's website was built on WordPress, with a custom theme to deliver pixel perfect pages as envisioned by our in-house designers. In addition to building out the designs, I set up A/B testing to measure conversion rates for them.</p>
				<p>Special consideration was also given to SEO, mobile friendliness, and page load times.</p>
				<p><a href="/regency/" class="button">Full Project</a></p>
			</div>


		</div>
	</div>
</div>

<div class="container text-center">

	<h2>What I can do for you</h2>

	<hr>

	<div class="row">
		<div class="col-1 display-column">
			<span class="icon icon-mobile"></span>
			<h3>Responsive,<br />Pixel Perfect</h3>
			<p>Convert any PSD or design into a fully functional, responsive web page.</p>
			<p>Put the latest technology to good use for a polished experience.</p>
			<p>Design and develop user friendly interfaces for every device and platform.</p>
		</div>

		<div class="col-1 display-column">
			<span class="icon icon-gauge"></span>
			<h3>Give it a<br />Speed Boost</h3>
			<p>Optimize any website to load faster and run more efficiently.</p>
			<p>New sites I build fully load in less than once second.</p>
		</div>

		<div class="col-1 display-column">
			<span class="icon icon-lock"></span>
			<h3>Security Best<br />Practices</h3>
			<p>Harden the defenses in an existing app, or ensure a new one is built with leading practices.</p>
			<p>Apply industry standard tools like OWASP ZAP to scan for vulnerabilities.</p>
		</div>

		<!--
		<div class="col-1 display-column">
			<span class="icon icon-wrench"></span>
			<h3>Make Everything<br />Better</h3>
			<p>Optimize performance to make your site faster.</p>
			<p>Build that shiny feature that's been on the dream list since the project started.</p>
			<p>I can quickly jump in to any project and start making things work.</p>
		</div>
		-->

	</div>

	<p class="text-center"><a href="/about/" class="button">Learn More</a></p>

</div>

<script type='text/javascript' src='{{ site.baseurl }}/assets/js/spinhex.js'></script>

