---
permalink: /portfolio/
title: "Portfolio"
output: false
---

<div class="project-previews">

  {% assign projects = site.portfolio | sort: "order" %}

  {% for project in projects limit: 8 %}

    <article class="preview">

        <a href="{{ project.permalink }}" class="img-container">
          <div class="image" style="background-image:url({{ project.image }});"></div>
        </a>

        <div class="text-container">
            <h2 class="entry-title"><a href="{{ project.permalink }}">{{ project.title }}</a></h2>

            <div class="">
              <p>{{ project.description }}</p>
            </div>
  
        </div>

    </article>

  {% endfor %}
  
  <article class="preview" style="background: none;"></article>


</div><!-- .project-previews -->


<p class="text-center"><a href="/more-portfolio/" class="show-more">Show More</a></p>
