---
permalink: /resume/
title: "Resume of Jesse Fox | Full Stack JavaScript and PHP Developer"
layout: blank
---

<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="description" content="Resume of Jesse Fox, Full Stack Javascript and PHP Developer.">
	<meta name="author" content="Jesse Fox | janevfox@protonmail.com">
	<meta name="keywords" content="Web Developer, Static Site Generators, Javascript, Node, WordPress, PHP, responsive design, SEO">

	<title>Resume of Jesse Fox</title>

	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Maven+Pro' type='text/css' media='all' />

	<style>
	/* Styles in page for portability! */
	body {
		margin: 0px;
		padding: 0px;
		background-color: #F5F2FF;
		color: #2B2933;
		font-family: "Maven Pro", 'Helvetica', 'Arial', 'sans-serif';
		font-size: 16px;
		line-height: 150%;
		letter-spacing: .1px;
	}

	a {
		color: #4E4766;
	}
	p {
		margin: 7px 0;
	}
	em {
		font-style: italic;
	}
	strong {
		font-weight: bold;
	}

	h1 {
		margin: 21px 0;
		font-size: 36px;
		letter-spacing: 1px;
		display: inline-block;
	}
	h2 {
		clear:both;
		font-size: 28px;
		padding-bottom: 14px;
		margin-bottom: 14px;
		margin-top: 28px;
		border-bottom: 1px solid #C7BFDF;
	}
	h3 {
		margin: 14px 0;
		font-size: 24px;
	}
	h4 {
		font-size: 20px;
		margin: 7px 0;
	}

	.container {
		margin:auto;
		width:670px;
	}

	.job-title {
		font-size: 24px;
		font-weight: normal;
		letter-spacing: .2px;
		margin: 0;
		margin-bottom: 21px;
	}

	.skills ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		margin-bottom: 14px;
	}
	.skills li {
		display: inline-block;
		margin: 0;
		margin-right: 7px;
	}
	.skills li:after {
		content: ",";
	}
	.skills li:last-child:after {
		content: "";
	}

	.job {
		margin-bottom: 21px;
	}

	.contact {
		font-size: 20px;
		float: right;
		margin-top: 21px;
	}

	.contact span {
		margin-right: 21px;
		display: inline-block;
	}

	/* Print only styles, clear colors */
	@media print {

		* {
			line-height:120%;
		}
		html, body {
			width: 210mm;
			height: 297mm;
			background-color: #FFF;
			color: #000;
		}
		a, a:visited {
			color: #000;
			text-decoration: none;
		}

	}
</style>

</head>
<body>

	<div class="container">

		<h1>{{ site.author }}</h1>

		<section class="contact">
			<span>{{ site.email }}</span>
		</section>

		<p class="job-title">
			Full Stack JavaScript and PHP Developer
		</p>


		<h2>About Me</h2>

		<p>
			I've been building web apps for 9 years,
			but coding has been a life long passion for me.
			I have extensive experience handling all parts of the stack: 
			From planning and databases to coding and interfaces.
			I'm excited to work on interesting new projects where my skills can shine and I can create something I'm proud of!
			College graduate with a degree of Applied Science in Web Design and Development.
		</p>


		<h2>Technical Skills</h2>
		<div class="skills">

			<h4>Javascript &amp; Node</h4>
			<ul>
				<li>Jekyll</li>
				<li>Backbone</li>
				<li>React</li>
				<li>Electron</li>
				<li>jQuery</li>
				<li>Handlebars</li>
				<li>Cordova</li>
				<li>Gulp</li>
				<li>Grunt</li>
				<li>Webpack</li>
				<li>Knockout</li>
				<li>Angular</li>
				<li>Underscore</li>
				<li>Google Analytics</li>
				<li>Canvas</li>
				<li>AJAX</li>
				<li>A / B Testing</li>
			</ul>

			<h4>CSS</h4>
			<ul>
				<li>HTML5</li>
				<li>Animations</li>
				<li>Media Queries</li>
				<li>Bootstrap</li>
				<li>Flexbox</li>
				<li>LESS</li>
				<li>SCSS</li>
				<li>Shopify</li>
				<li>Squarespace</li>
				<li>Illustrator</li>
				<li>Photoshop</li>
				<li>Mobile First</li>
				<li>Responsive Design</li>
			</ul>

			<h4>PHP</h4>
			<ul>
				<li>WordPress</li>
				<li>Code Igniter</li>
				<li>Yii</li>
				<li>Laravel</li>
				<li>Object Oriented</li>
				<li>Composer</li>
				<li>ExpressionEngine</li>
				<li>Magento</li>
			</ul>

			<h4>Server</h4>
			<ul>
				<li>Bash</li>
				<li>Python</li>
				<li>Ubuntu</li>
				<li>Debian</li>
				<li>CentOS</li>
				<li>SSL</li>
				<li>MySQL</li>
				<li>MariaDB</li>
				<li>Postgres</li>
				<li>MongoDB</li>
				<li>Nginx</li>
				<li>Apache</li>
				<li>Git</li>
				<li>SVN</li>
				<li>Django</li>
				<li>OWASP ZAP</li>
				<li>Vagrant</li>
				<li>REST APIs</li>
			</ul>


		</div><!-- /.skills -->


		<h2>Employment &amp; Experience</h2>
		

		<div class="job">
			<h3>Higher Education</h3>

			<strong>
				Front End Developer
			</strong>

			<p>
				<em>Properties:</em>
				<a href="https://www.nursing.org/" target="_blank" >https://www.nursing.org/</a>
				<br>
				<a href="https://www.accreditedonlinecolleges.org/" target="_blank" >https://www.accreditedonlinecolleges.org/</a>
				<br>
				<a href="https://www.accounting.com/" target="_blank" >https://www.accounting.com/</a> and more
			</p>

			<p>Converted many websites from WordPress to Jekyll, a static site generator.</p>
			<p>Complete redesigns, taking the Sketch files to fully responsive pages.</p>
			<p>Took requests from the content team and other non-technical users to update and maintain a large number of sites.</p>
			<p>Interviewed potential candidates for hiring onto the team.</p>
			<p>Updating older non-SSL to fully support HTTPS with no broken pages.</p>
			<p>Reviewed pull requests for other members of the team for quality assurance.</p>

		</div><!-- /.job -->

		<div class="job">
			<h3>Regency Beauty Institute</h3>

			<strong>
				WordPress Developer
			</strong>

			<p>
				<em>Property:</em>
				<a href="http://regency.edu/" target="_blank" >http://regency.edu/</a>
			</p>

			<p>Responsible for the maintenance, support, and development of features for inherited WordPress website.</p>
			<p>Planned and executed various A/B tests to increase site performance.</p>
			<p>Supported teammates with various features and special functions of site operation.</p>
			<p>Advised on strategies for new development, as well as obtaining and capitalizing on new technologies.</p>
			<p>Created custom email templating system in PHP to replace exact target for our CRM team.</p>

		</div><!-- /.job -->


		<div class="job">
			<h3>Periscope</h3>

			<strong>
				Full Stack PHP Developer
			</strong>

			<p>
				<em>Property:</em>
				<a href="https://www.truvia.com/" target="_blank" >https://www.truvia.com/</a>
			</p>

			<p>Primarily tasked with speeding up, fixing, and otherwise updating an ExpressionEngine site.</p>
			<p>Greatly optimized templates and pages to be served up faster.</p>
			<p>Created custom blog, search, filtering, and pagination functionality based on specific requirements.</p>
			<p>Testing on many different mobile devices, ensuring all pages and details were rock solid.</p>

		</div><!-- /.job -->


		<div class="job">
			<h3>Ackmann and Dickenson</h3>

			<strong>
				Web Developer
			</strong>

			<p>
				<em>Properties:</em>
				<a href="http://www.eldermark.com/" target="_blank" >http://www.eldermark.com/</a>
				<br>
				<a href="https://www.selectaccount.com/" target="_blank" >https://www.selectaccount.com/</a>
			</p>


			<p>Front and Back End development on a variety of platforms; including Ruby on Rails, WordPress, ExpressionEngine, Java, and Zend. </p>
			<p>Consulting with clients to help determine best needs for the project.</p>
			<p>Tasked with improving large, complex PHP code bases that spanned over multiple sites.</p>
			<p>Improved usability and experience of complex insurance forms using javascript.</p>

		</div><!-- /.job -->

		<div class="job">
			<h3>University of Minnesota</h3>

			<strong>
				Javascript Developer
			</strong>

			<p>
				<em>Property:</em>
				<a href="https://makingagift.umn.edu/onlinegiving/" target="_blank" >https://makingagift.umn.edu/onlinegiving/</a>
			</p>


			<p>Oversaw Backbone.js app used to make a simple interface for complex AJAX requests.</p>
			<p>Planned and built system for selling dinner party tickets to meet meticulous requirements.</p>
			<p>Assisted development of an AngularJS app used to receive high value donations.</p>

		</div><!-- /.job -->


		<div class="job">
			<h3>Olson</h3>

			<strong>
				Full Stack Javascript Developer
			</strong>

			<p>
				<em>Properties:</em>

				<a href="http://www.mypetreference.com/" target="_blank" >http://www.mypetreference.com/</a><br>
				<a href="https://play.google.com/store/apps/details?id=com.markwins.wetnwild.stealthelook" target="_blank" >Steal the Look app on Google Play</a>
			</p>


			<p>Finishing development on a site using WordPress for CMS with a custom front end.</p>
			<p>Single page style Backbone.js app to emulate the experience of native tablet.</p>
			<p>Testing on multiple mobile devices with a focus on responsive design.</p>
			<p>Feature development and bug fixing on a mobile app using PhoneGap, CSS, Javascript.</p>

		</div><!-- /.job -->


		<div class="job">
			<h3>The Lacek Group</h3>

			<strong>
				Full Stack PHP Developer
			</strong>

			<p>
				<em>Property:</em>
				<a href="https://mediaresource.pioneer.com/" target="_blank" >https://mediaresource.pioneer.com/</a>
			</p>

			<p>Took over an existing Yii code base to extend and fix it to meet new requirements.</p>
			<p>Picked up new framework in short amount of time and used immediately.</p>
			<p>Independent back end developer, oversaw many areas such as analytics, bug fixing, and security. </p>
			<p>Ran security audits using OWASP ZAP and Burp Suite, reported on the results, and fixed all possible holes.</p>

		</div><!-- /.job -->


		<div class="job">
			<h3>Polaris Industries</h3>

			<strong>
				Front End Developer
			</strong>

			<p>
				<em>Properties:</em>
				<a href="http://www.victorymotorcycles.com/" target="_blank" >http://www.victorymotorcycles.com/</a>
				<br>
				<a href="https://www.riderx.com/en-us/home" target="_blank" >https://www.riderx.com/en-us/home</a>
			</p>

			<p>Worked closely with back end developers and designers, turning PSDs and data into impressive, functional web pages.</p>
			<p>Interfaced with an API on a mobile app in order to create a custom google map with special icons, locations, and features.</p>
			<p>Fast paced environment, frequently picking up completely new technologies and applying them immediately.</p>
			<p>Hand wrote Javascript to make user friendly interfaces on a range of different projects.</p>

		</div><!-- /.job -->


	</div><!-- .container -->

</body>
</html>
