---
permalink: /writing/
title: "Writing"
output: false
published: false
---

<div class="project-previews">

  {% assign projects = site.blog | sort: "order" %}

  {% for project in projects %}

    <article class="preview">

        <a href="{{ project.permalink }}" class="img-container">
          <div class="image" style="background-image:url({{ project.image }});"></div>
        </a>

        <div class="text-container">
            <h2 class="entry-title"><a href="{{ project.permalink }}">{{ project.title }}</a></h2>

            <div class="">
              <p>{{ project.description }}</p>
            </div>
  
        </div>

    </article>

  {% endfor %}

</div>
