

.skill-list {

	h4 {
		margin-bottom: $tightness/2;
		margin-top: $tightness;
	}

	em {
		font-size: .9em;
	}
	p {
		margin-bottom: $tightness/2;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		//margin-bottom: $tightness;
	}
	li {
		display: inline-block;
		margin: 0;
		margin-right: $tightness/2;
	}
	li:after {
		content: ",";
	}
	li:last-child:after {
		content: "";
	}

}

