
.contact-page {
	
	h2 {
		margin-top: 0;
	}

	ul {
		list-style: none;
	}
}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color-dark;
	border: $line-size solid rgba($color-dark, .25);
	background-color: $color-white;
	border-radius: $border-radius;
	padding: $tightness/2;
	width: 100%;
	transition: 1s;
	font-weight: normal;
	box-sizing: border-box;

	&:focus {
		color: $color-dark;
		border-color: $color-main;
	}
}

