---
permalink: /accreditedonlinecolleges/
title: "Accredited Online Colleges"
description: "Made to provide information about higher education opportunities and lead prospective students to associated universities. I helped secure the site by bringing it to full HTTPS compliance."
layout: "portfolio"
order: 10
image: "/assets/img/portfolio/aoc/database.jpg"
gallery:
 - img: "/assets/img/portfolio/aoc/database.jpg"
 - img: "/assets/img/portfolio/aoc/how-it-works.jpg"
 - img: "/assets/img/portfolio/aoc/resources.jpg"
---

<h2>Websites</h2>

<p><a href="https://www.accreditedonlinecolleges.org/" target="_blank" rel="noopener noreferrer">https://www.accreditedonlinecolleges.org/</a></p>


<h3>About the Tech</h3>

<p>This was built on <a href="https://wordpress.org/" target="_blank" rel="noopener noreferrer">WordPress</a> with a custom theme, using a specialized deployment process. Plugins were used but kept to a minimum to help keep performance up.</p>

<h3>My Role on this Project</h3>

<p>The website was still running on HTTP only, and we were concerned it would take a hit to SEO now that Google counts that as a factor. The whole theme needed updating, as well as a bunch of content from the database. I was able to quickly jump in and make the updates, taking it to complete compliance across every single page.</p>

<p>Assisted with other general maintenance, bug fixes, and new tracking. Maintenance included WordPress version, plugin updates, quality assurance testing, as well as fixing some mobile display issues. The existing tracking was brought up to standard by adding Google Tag Manager.</p>
