---
permalink: /junum/
title: "Junum"
description: "On a mission against malnutrition, Junum needed a blazing fast site with a professional design. Going above and beyond, I got it loading fully in under 1 second."
order: 5
recent: true
layout: "portfolio"
image: "/assets/img/portfolio/junum/header.jpg"
gallery:
 - img: "/assets/img/portfolio/junum/header.jpg"
 - img: "/assets/img/portfolio/junum/improvements.jpg"
 - img: "/assets/img/portfolio/junum/testimonial.jpg"
 - img: "/assets/img/portfolio/junum/contact.jpg"
 - img: "/assets/img/portfolio/junum/hidden-cost.jpg"
 - img: "/assets/img/portfolio/junum/mobile-header.jpg"
 - img: "/assets/img/portfolio/junum/mobile-hidden-costs.jpg"
 - img: "/assets/img/portfolio/junum/mobile-menu.jpg"
 - img: "/assets/img/portfolio/junum/process.jpg"
---


<h2>Website</h2>

<p><a href="https://junum.io/" target="_blank" rel="noopener noreferrer">https://junum.io/</a></p>

<p>Wonderful performance for the site, coming in at <strong>nearly half of a second</strong> as of March 2020. </p>

<!-- <a href="https://gtmetrix.com/reports/junum.io/jaqN6Hxq" target="_blank" rel="noopener noreferrer">https://gtmetrix.com/reports/junum.io/jaqN6Hxq</a> -->

<h3>About the Tech</h3>

<p>Built with <a href="/static-sites/">Jekyll, a static site generator</a>. If you haven't heard, static or "serverless" sites are a relatively new way of developing pages using some fancy build tools, with the end result being plain old HTML, CSS, and JavaScript. While this may not sound new or exciting, the benefit it provides is enormous - faster speeds, better security, and more simplicity.</p>


<h3>My Role in this Project</h3>

<p>I was the only developer working on this website and built it all from the ground up! A designer handed off the complete design comps in a sketch file, which I used to build it out; pixel perfect across all devices from mobile to desktop. Since speed was a primary consideration and WordPress wasn't needed, Jekyll was the perfect choice and delivered above expectations.</p>

