---
permalink: /other-projects/
title: "Other Projects"
order: 11
description: "A collection of other neat projects I've worked on that were small but still worth note; from mobile apps to e-commerce."
layout: "default"
image: "/assets/img/portfolio/misc/carrotink.jpg"
---


<h2><strong>University of Minnesota</strong></h2>
<a href="https://makingagift.umn.edu/onlinegiving/" target="_blank" rel="noopener noreferrer">https://makingagift.umn.edu/onlinegiving/</a>

<p>I built a custom form in backbone to sell tickets and receive high volume donations. We focused on keeping the interface as simple as possible for non-technical people.</p>


<h3>Wet n Wild</h3>
<a href="https://play.google.com/store/apps/details?id=com.markwins.wetnwild.stealthelook" target="_blank" rel="noopener noreferrer">https://play.google.com/store/apps/details?id=com.markwins.wetnwild.stealthelook</a>

<p>Assisted development of a native mobile app for iOS and Android built using web technologies. Using PhoneGap and Cordova, I utilized native APIs for devices to add features alongside a team.</p>


<h3>Carrot Ink &amp; Inkjets</h3>
<a href="http://www.carrotink.com/" target="_blank" rel="noopener noreferrer">http://www.carrotink.com/</a>

<a href="http://www.inkjets.com/" target="_blank" rel="noopener noreferrer">http://www.inkjets.com/</a>

<p>Two websites powered by Magento, I made a custom product display page to match the design provided to me. Also updated the rest of the interface on a few pages: buttons, product displays, tables, and checkout.</p>


<h3>Select Account</h3>
<a href="https://www.selectaccount.com/" target="_blank" rel="noopener noreferrer">https://www.selectaccount.com/</a>

<p>WordPress powered website for an insurance company. Lots of custom form functionality built with plain javascript. I helped update the theme and create a few new custom pages. Also helped fix bugs and improved the general usability of the insurance forms with javascript.</p>


<h3>Reach Local</h3>
<a href="https://www.reachlocal.com/us/en" target="_blank" rel="noopener noreferrer">https://www.reachlocal.com/us/en</a>

<p>A completely custom code base that supposedly spanned over half a million lines of PHP code. I was brought in to fix bugs. Despite the complexity and scope, I managed to jump right in and help reduce their kanban pile appreciably.</p>
