---
permalink: /my-pet-reference/
title: "My Pet Reference"
description: "A resource for pet owners, with a trove of info and tips for your fuzzy friends.  This site had a  unique solution - WordPress was used to manage content, but stripped from the front for a custom Backbone app."
layout: "portfolio"
order: 8
image: "/assets/img/portfolio/mypetreference/mpr-thumb.jpg"
gallery:
 - img: "/assets/img/portfolio/mypetreference/mpr-breed.jpg"
 - img: "/assets/img/portfolio/mypetreference/mpr-footer.jpg"
 - img: "/assets/img/portfolio/mypetreference/mpr-list.jpg"
 - img: "/assets/img/portfolio/mypetreference/mpr-mobile.jpg"
 - img: "/assets/img/portfolio/mypetreference/mpr-mobile-menu.jpg"
 - img: "/assets/img/portfolio/mypetreference/mpr-vet.jpg"
---

<h2>Website</h2>
<a href="http://www.mypetreference.com/" target="_blank" rel="noopener noreferrer">http://www.mypetreference.com/</a>

<p>The website has received updates since I was on it, but much of what I contributed still seems to be present as of 2019.</p>

<h3>About the Tech</h3>

<p>My pet reference was built with WordPress, <a href="https://backbonejs.org/" target="_blank" rel="noopener noreferrer">Backbone</a>, handlebar templates, javascript, scss, and hand-crafted media queries. Grunt was used as a build tool for all the styles, scripts, and templates. Vagrant was chosen as our development container to keep the team's work consistent.</p>

<p>WordPress was used for the excellent content management and maintainability. This included some extra functionality with custom post types, making it easy to add extra layout options for our client. The front was completely done from scratch in order to get the snappiest possible experience. WordPress was removed from everything, except to serve up its data as json. The site itself was single-page style, loading all of its content through ajax, in an attempt to gain better load times, which found some successes.</p>

<h3>My Role in this Project</h3>

<p>I took over the project early in it's life, and was responsible from taking it from a proof of concept to completion - adding missing features, completing what was there, and fixing up any remaining issues. It was all done mobile first, with a special attention to the details of how everything looked and changed at different browser sizes. I did some extra thorough testing across a handful of different Android and IOS devices to ensure consistency everywhere.</p>
