
.color-bg {
	background-color: $color-main;
	color: $color-white;
	position: relative;
}

.alt-bg {
	background-color: $color-alt;
}


// Spacing 

.margin-top {
	margin-top: $tightness;
}

.margin-bottom {
	margin-bottom: $tightness*2;
}

.margin {
	margin: $tightness;
}

.margin-left {
	margin-left: $tightness;
}

.margin-right {
	margin-right: $tightness;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.no-margin-top {
	margin-top: 0;
}



.padding {
	padding: $tightness;
}

.padding-right {
	padding-right: $tightness;
}

.padding-left {
	padding-left: $tightness;
}

.padding-bottom {
	padding-bottom: $tightness;
}

.no-padding {
	padding: 0;
}

// Text & Positioning
.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.clearfix {
	clear: both;
}



@media (max-width: 600px) {
	.mobile-space-top {
		margin-top: $tightness;
	}
}

@media ($break-sm-up) {
	
	.mobile-only {
		display: none;
	}
}


/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		//background-color: $color__background-screen;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		clip-path: none;
		//color: $color__text-screen;
		display: block;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
	}
}
