

#content {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}


#content .container p:last-child {
	margin-bottom: 0;
}

#content header {
	//margin-bottom: $tightness * 2;
}


.container {
	margin: auto;
	display: block;
	padding: 0 $tightness;
	padding-bottom: $tightness*2;
	box-sizing: border-box;
	max-width: $max-width;
}

.row {
	display: block;
}

.col-1,
.col-2,
.col-3 {
	display: block;
	margin: 0;
}



@media ($break-sm-up) {

	.container { 
		//padding: $tightness;
	}

	.row {
		display: flex;
		flex-direction: row;
	}

	.col-1,
	.col-2,
	.col-3 {
		margin-right: $tightness;

		&:last-child {
			margin-right: 0;
		}
	}

	.col-1 {
		flex: 1;
	}
	
	.col-2 {
		flex: 2;
	}
	
	.col-3 {
		flex: 3;
	}
}


#site-footer {
	background-color: $color-dark;
	color: $color-white;
	padding: $tightness*2 0;
	margin: 0;
	text-align: center;

	.container {
		margin-bottom: 0;
		padding-bottom: 0;
		padding-top: 0;
	}

	.footer-right {
		font-weight: 300;
		font-size: 16px;
	}

	a, a:hover { 
		color: $color-white;
		font-size: $font-size-big;
		display: block;
		margin-bottom: $tightness;
		text-decoration: none;
		letter-spacing: 1px;


	}

	.icon {
		width: 30px;
		display: inline-block
	}

}



@media (min-width: 600px) {
	#site-footer {
		text-align: left;

		.footer-right {
			text-align: right;
		}

		a, a:hover { 
			display: inline-block;
			margin-bottom: 0;
			margin-right: $tightness;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}