
#site-header {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
    height: 60px;
    width: 100%;
    //background-color: $color-white;
    margin: 0 auto;
    box-sizing: border-box;
    padding: $tightness;
    min-width: 360px;
	max-width: $max-width;
    //padding-bottom: 10px;

    a {
        transition: 0.5s;
    }

    .header-top {
        display: flex;
        flex-direction: row;
        margin: 0;
        line-height: 36px;
    }

    .site-title a {
        color: $color-white;
        text-decoration: none;
        margin: none;
        margin-right: $tightness;
        font-size: 20px;

    }
    
    .site-description {
        color: $color-white;
        margin: none;
        font-size: 16px;
        font-weight: 300;
    }

    nav {
        flex: 1;
        display: none;

    }

    .mobile-controls {
        flex: 1;
        align-self: flex-end;
        margin-top: -8px;
    }

    .menu-button {
        width: 42px;
        padding: 4px;
        padding-top: 8px;
        position: relative;
        box-sizing: border-box;
        background: transparent;
        border: $line-size solid $color-alt;
        outline: none;
        cursor: pointer;
        float: right;
    }

    .bar-icon {
        height: 1px;
        width: 30px;
        color: $color-alt;
        float: left;
        margin-bottom: 5px;
        transition: 0.8s;
        opacity: 1;
        top: 0;
        position: relative;
        border-bottom: 2px solid $color-alt;
    }

    .header-inner {
        max-width: $max-width;
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    // When the menu is open
    &.active {
        height: 100vh;
        background-color: $color-main;
        position: fixed;
        justify-content: space-between;

        nav {
            display: flex;
            flex-direction: column;
            flex: 1;

            &::before,
            &::after {
                content: " ";
                flex: 1;
            }

            a {
                color: $color-white;
            }

            a:hover {
                color: $color-alt;
            }
        }

        // Makes the bar icons animate to an X
        .bar-icon {
            &:nth-child(1) {
                transform: rotate(45deg);
                top: 8px;
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
                top: -8px;
            }
        }

    } // .active

} // #site-header


#site-navigation {

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: block;
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
        padding: 10px 0;
        font-size: 32px;
        line-height: 2;
        font-weight: 300;
        letter-spacing: 2px;
        text-decoration: none;
        transition: 0.5s;
    }
}


// Large than mobile
@media (min-width: 600px) {
    .header-inner {
        flex-direction: row;
    }

    #site-header,
    #site-header.active {
        height: auto;
        display: flex;
        flex-direction: row;
        background: none;
        position: absolute;

        .header-top {
            display: flex;
            flex-direction: row;
        }

        .header-inner {
            flex-direction: row;
        }

        .logo {
            flex: 1;

            img {
                margin-top: 10px;
            }
        }

        nav {
            display: block;
        }

        .mobile-controls {
            display: none;
        }

        #site-navigation {
            flex: 1;
            text-align: right;

            li,
            a {
                display: inline-block;
            }

            a {
                font-size: 16px;
                font-weight: 400;
                line-height: 21px;
                margin-left: 30px;
                color: $color-white;
                letter-spacing: 0.75px;

                &:hover {
                    color: $color-alt;
                }
            }
        } // #site-navigation
   
    } // #site-header
}
