---
permalink: /gutenberg/
title: "Gutenberg and You"
description: "What is it."
order: 3
layout: "blog"
image: "/assets/img/wordpress.png"
date: "02/02/2020"

output: false
published: false
---

<h2>Big changes in WordPress - Gutenberg</h2>

<p>It's been causing a big uproar in the WordPress community since it was brought out. Some people love it. Other people hate it.</p>


What is it?

Gutenberg is a tool that is meant to greatly improve the default editing experience.


Should I use it?

After having given it a thorough try by now I would say yes!


Unlike other visual editing tools, Gute

A shortfall of 

A little background:

<p>Before Gutenberg, the default editing experience was a bit lacking. It offered some basic styling preview of the text and embedded images, but not much else. A few custom fields if you wanted to get fancy with it. While this was plenty enough just for managing blog content, it left a lot to be desired in terms of building pages.</p>

<p>This shortcoming has brought about the rise of Visual Editing plugins and themes. You may have heard of them before, some notable examples include: Divi, Avada, Beaver Builder. These added some great functionality that allowed non-technical people to build out some reasonably impressive pages. But this came with some trade-offs: These third-party tools tended to get poorer performance due to the nature of how they work and the extra database calls required. In many cases they also wouldn't play particularly nice with native code.

</p>


<p>
Enter Gutenberg. As a direct response to the growing popularity of these visual tools, the WordPress development team decided to take on the task of adding this functionality built-in and done right.

</p>


For users who are accostumed to the old WordPress editor and don't wish to learn something new, there is no need to fear. You can disable Gutenberg and stick with the classic editor using an official plugin.

